/* 전체적으로 넓이/높이를 % 단위로 잡되, min 최소값을 줘서 너무 작아지지는 않게 함. */

html, body {
    /* 정확히는 width는 안 줘도 되는데, 높이(height)는 줘야함. */
    min-height: 100vh; /* 보여지는 화면 기준 최소 높이 100% 주기 */
    margin: 0;
    padding: 0;

    display: flex; /* 자식 요소를 원하는 방향으로 정렬할 수 있게 해주는 핵심 속성 */
    flex-direction: column; /* flex로 정렬되는 방향을 가로로 함. */
}


.main-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center; /* 요소를 가운데로 정렬 */
    flex-direction: column;
}

.main-intro {
    height: 40%;

    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;

    margin-top: 2.5%;
    margin-bottom: 5%;

    border-bottom: 1px solid grey;
}

.main-content-container {
    display: flex;
    justify-content: center; /* 가운데 */
    flex-direction: row; /* 가로 정렬 */

   flex-wrap: wrap; /* 화면 축소시 요소가 잘리지 않고 재배치하게 해줌.*/

    /* flex 기반으로 요소 배치 시, margin보다 gap을 쓰는 게 좋다고 함. */
    /* 화면 크기가 어떻든 무조건 20px만큼 띄워줌. */
    gap: 20px
}

/* Home.css */

.content-box {
    width: 20%;
    min-width: 250px;
    height: auto;
    background-color: white;
    border: 1px solid #e0e0e0; /* 테두리 색을 조금 연하게 바꿨습니다 */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    /* 위치 이동(transform)과 그림자(box-shadow)가 변할 때 0.3초 동안 부드럽게 해라 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* 마우스 올리면 커서 모양을 변경할 수 있다. */
    cursor: pointer;
}

.content-box:hover {
    transform: translateY(-10px);

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* 2. 이미지 영역 */
.content-box .image {
    width: 100%;
    height: 180px; /* 이미지 영역은 고정값을 줘야 안깨진다고 함. */

    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 15px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
}

.content-box .title h1 {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.content-box .content {
    font-size: 0.95rem;
    color: #666;
    text-align: center; /* 본문도 가운데 정렬 */
    line-height: 1.5;   /* 줄 간격 살짝 넓게 */
}